@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

body {
    font-family: Montserrat;
    color: #682661;
    margin: 0;
    padding: 0;
}

nav {
    height: 40vh;
    background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc9nYGweBmdrO1DKCoyFTcTlUuFcf6CDjlxWCylP4s2NO6y7oIt6SBvg-SFv8yKFSBKJm1_G-kN4yecS0DkfsuCLzhq-gMqTuCCW20Hsy33O0NR0Of49E60u3zYEYSbfkAOKLiJRBc7Opy6f78IBDvQU=w1218-h914-s-no?authuser=0);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}


.navbutton{
    text-decoration-color:transparent;
    font-size: 4vh;
    padding: 1vh 1vw 0 1vw;
    color: white; 
    height:5vh;
}

.navbutton:hover {
    text-decoration-color: white;
    transition: 0.5s;
}

.logo {
    justify-self: flex-start;
}

h1 {
    text-align: center;
    font-family: Lobster;
    font-size: 5vh;
    color: white;
    background-color: #682661;
}

h2 {
    font-family: Lobster;
    
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration-color: transparent;
}

a:visited {
    color: rgb(255, 255, 255)
}

a:hover {
    text-decoration-color: white;
    transition: 0.5s;

}
.c{
    width: 500px;
}

.d{
    width: 350px;
}

.e{
    width: 150px;
}

footer {
    text-align: center;
    color: white;
    background-color: #682661;
}

.bezdoprostred {
    

.knt {text-align: center ;}
