@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

body {
    font-family: Montserrat;
}

h1 {
    text-align: center;
    font-family: Lobster;
}

h2 {
    font-family: Lobster;
}

a:link {
    color: rgb(171, 171, 171)
}

a:visited {
    color: rgb(171, 171, 171)
}

a:hover {
    color: rgb(139, 131, 142);
}